/* public css */
:root{
    --main-color: #f7eddfff;
    --white-color: #fff;
    --black-color: #000;
    --logo-bg-color: #ffc261ff;
    --submit-color: #d1512eff;
}
body,html{
    font-family: "Rubik", sans-serif;
    background-color: var(--main-color);
}
.font-logo{
    font-family: "Caveat", cursive;
}
.font-header{
    font-family: "Signika Negative", sans-serif;
}
header,section{
    padding: 50px 0;
}
a{
    text-decoration: none;
}
/* start line */
.line .bg-line{
    border: 1px dotted var(--black-color);
}
/* end line */
/* private css */
/* start header */
header .logo h1{
    position: relative;
    overflow: hidden;
    width: 22%;
    z-index: 0;
}
header .logo h1::after{
    position: absolute;
    content: "";
    margin: 0 auto;
    right: 0;
    left: 0;
    bottom: 12px;
    background-color: var(--logo-bg-color);
    height: 25%;
    width: 95%; 
    z-index: -1;
    transition: 0.5s;
}
header .logo h1:hover::after{
    height: 50%;
    width: 95%; 
}
/* end header */
/* start sction form booking */
.form-booking .booking .header h3{
    background: #3FA65A;
    background: linear-gradient(to right, #3FA65A 0%, #A8A547 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}
.form-booking .booking .header .left-icon{
    color: #3fa65aff;
}
.form-booking .booking .header .right-icon{
    color: #a8a547ff;
}
/* end sction form booking */
